@media (max-width: 800px) {
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 5rem;
    }
  }

  #main-footer {
    p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-home {
      height: 10rem;
      border-bottom: solid 3px $main-color;
      background-position: 20% 30%;
      .header-content {
        display: none;
      }
    }
    &-inner {
      height: 10rem;
    }
  }

  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #contact-b .contact-info,
  #about-d .testimonials,
  .items {
    grid-template-columns: 1fr;
  }

  #home {
    &-a {
      .specials div {
        border-bottom: 1px $medium-color solid;
        padding: 1.2rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
    &-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  //Contact
  #contact {
    &-a {
      .text-field {
        grid-template-areas:
          "name"
          "subject"
          "email"
          "phone"
          "message";
      }
    }

    &-b {
      .contact-info div {
        padding: 2rem;
        border-bottom: 1px $main-color dotted;
        &:last-child {
          padding-top: 2;
          padding-bottom: 0;
          border: none;
        }
      }
    }
    &-c {
      h1 {
        font-size: 1.4rem;
      }
    }
  }

  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
      .bio {
        border: 1px solid $main-color;
      }
    }
    &-c {
      display: none;
    }
  }

  #main-footer {
    height: 7rem;
    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 580px) {
  #header-home {
    padding-top: 3rem;
  }

  #main-footer {
    .footer-content p {
      font-size: 0.8rem;
    }
  }
}
